body {
    background-color: #F0E3D3;

    .main {
        width: 900px;
        height: 500px;
        margin: 0 auto;
        margin-top: 90px;


        .side {
            width: 35%;
            height: 100%;
            background-color: #D7A081;
            display: inline-block;
            margin-left: 2px !important;
            float: left;


            .fbut {
            }


            div {
                background-color: white;
                width: 69%;
                height: 17%;
                margin: 50px;

                button {
                    margin: 20px;
                    margin-top: 17px;
                    background-color: #D7A081;
                    color: #4C2D18;
                    font-size: 22px;
                    width: 80%;
                    height: 62%;
                    border-radius: 15px;
                    border: none;
                    font: Arial, Helvetica, sans-serif;

                    &:hover {
                        color: white;
                        -webkit-box-shadow: 0 0 20px #808080;
                        box-shadow: 0 0 20px #808080;
                    }
                }
            }
        }

        .mid {
            display: inline-block;
            float: left;
            background-color: #75191A;
            width: 29%;
            height: 100%;
            margin-right: -3px;

            div {
                background-color: white;
                width: 65%;
                height: 80%;
                margin: 0 auto;
                margin-top: 45px;
                padding-top: 3px;
                padding-bottom: 10px;

                img {
                    width: 100%;
                    height: 120%;
                    margin-top: -40px;
                    border-radius: 10px;
                }
            }
        }
    }
}
